.help {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff009d;
  user-select: none;
  text-align: center;
  font-family: monospace;
  line-height: 2;
  font-size: 18px;
}
