.digit {
  min-width: 280px;
  position: relative;
}

.digit .code {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

g > * {
  cursor: pointer;
  transition: fill 0.2s;
}

g > .on {
  fill: #1b2124;
}

g > :not(.on) {
  fill: #738960;
}

/* instant error indication */
.digit.invalid g > .on {
  fill: rgba(119, 18, 18, 0.829);
}
